<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>959405557706-0ipr6l7371afdh39tgock3g2d7sh1djn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959405557706-0ipr6l7371afdh39tgock3g2d7sh1djn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>959405557706-ipkehgk1uc9onf8pkn7lhbl8hgfcq2ic.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKuW84P4hdXaY3RHdZWz--vOrukH8O5O8</string>
	<key>GCM_SENDER_ID</key>
	<string>959405557706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled1</string>
	<key>PROJECT_ID</key>
	<string>okintresting</string>
	<key>STORAGE_BUCKET</key>
	<string>okintresting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959405557706:ios:86a84918aea822c60df133</string>
</dict>
</plist>